{% comment %}
  @param article
      Blog article
  @param show_date
      show date posted
      default false
  @param show_author
      show post author
      default false
  @param show_tags
      show post tags
      defualt false
  @param show_comment_count
      Show count of comments
      default false
  @param show_link
      Show continue reading link
      default false
{% endcomment %}

<div
  class="blog-article"
  data-blog-post
>
  {% if article %}
    {% if article.image != blank %}
      <a href="{{ article.url }}" class="blog-article__image" title="{{ article.title | escape }}">
        {%
          render 'rimg',
          img: article.image,
          size: '1024x1024',
          lazy: true,
          canvas: true
        %}
      </a>
    {% endif %}
  {% else %}
    <a href="#" class="blog-article__image">
      {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
    </a>
  {% endif %}

  {% if show_tags and article.tags.size > 0 %}
    <div class="blog-article__tags">
      {% for tag in article.tags %}
        <a
          href="{{ shop.url}}/blogs/{{ blog.handle }}/tagged/{{ tag | handleize }}"
          class="blog-article__tag"
          title="{{ blog.title | escape }}
          {{ 'blogs.general.tagged' | t }}
          {{ tag | escape }}"
        >
          {{ tag }}
        </a>
      {% endfor %}
    </div>
  {% endif %}

  <h3 class="blog-article__title">
    <a href="{{ article.url }}" title="{{ article.title | escape }}">
      {% if article %}
        {{ article.title }}
      {% else %}
        {{ 'homepage.onboarding.blogpost_title' | t }}
      {% endif %}
    </a>
  </h3>

  {% if show_author or show_date or show_comment_count %}
  <p class="blog-article__meta">
    {% if show_author %}
      {% if article %}
        <span>{{ 'blogs.article.by_author' | t: author: article.author }}</span>
      {% else %}
        <span>{{ 'homepage.onboarding.blog_author' | t }}</span>
      {% endif %}
    {% endif %}

    {% if show_date %}
      {% if article %}
        <span>{{ article.published_at | date: format: "month_day_year" }}</span>
      {% else %}
        <span>{{ 'now' | date: format: "month_day_year" }}</span>
      {% endif %}
    {% endif %}

    {% if show_comment_count %}
      {% if disqus_enabled %}
        <span>
          <a href="{{ article.url }}#disqus_thread" data-disqus-identifier="{{ article.id }}" class="blog-article__comments">{{ 'blogs.counts.comments_with_count' | t: count: 0 }}</a>
        </span>
      {% elsif article.comments_enabled? and article.comments_count > 0 %}
        <span>
          <a href="{{ article.url }}#comments" class="blog-article__comments">{{ 'blogs.counts.comments_with_count' | t: count: article.comments_count }}</a>
        </span>
      {% endif %}
    {% endif %}
  </p>
  {% endif %}

  {% if article.excerpt != blank %}
    <div class="blog-article__excerpt">
      {{ article.excerpt }}
    </div>
  {% elsif article == nil %}
    <div class="blog-article__excerpt blog-article__excerpt--length-sm">
      {{ 'homepage.onboarding.blog_excerpt' | t }}
    </div>
  {% endif %}

  {% if show_link %}
    <p>
      <a href="{{ article.url }}" class="blog-article__link" title="{{ article.title | escape }}">
        {{ 'blogs.general.continue_reading_html' | t }}
      </a>
    </p>
  {% endif %}

</div>
