{% comment %}
  @param product
  @param variant
  @param template
  @param collection_handles
  @param onboarding
  @param sidebar_enabled
{% endcomment %}

{% assign selected_variant = product.selected_variant %}
{% if settings.select_first_available_variant %}
  {% assign selected_variant = product.selected_or_first_available_variant %}
{% else %}
  {% assign selected_variant = product %}
{% endif %}

{% if quickshop %}
  {% assign product_description_position = settings.product_description_position %}
{% else %}
  {% assign product_description_position = section.settings.product_description_position %}
{% endif %}

{% if sidebar_enabled == blank %}
  {%- assign sidebar_enabled = false -%}
{% endif %}

<div
  class="product-content
  product-content--media-position-{{ section.settings.product_images_position }}"
  data-product-url="{{ product.url }}"
>
  <div class="product-gallery__wrapper">
      {%
        render 'product-images',
        product: product,
        onboarding: onboarding,
        quickshop: quickshop,
        sidebar_enabled: sidebar_enabled
      %}
  </div>
  <div
    class="
      product-details
      product-quantity-box--enabled-{{ settings.display_product_quantity }}
      product-options-style--{{ settings.product_form_style }}
    "
    data-product-details
  >
    {% if collection and section.settings.display_collection_link %}
      <a href="{{ collection.url }}" class="product__collection-link">{{ collection.title | escape }}</a>
    {% endif %}

    {% if section.settings.display_vendor %}
      <p class="product__vendor">
        {{ product.vendor }}
      </p>
    {% endif %}

    <h2 class="product__title">
      {% if onboarding %}
        {{ 'homepage.onboarding.product_title' | t }}
      {% else %}
        {% if template == 'featured-product' %}<a href="{{ product.url }}">{% endif %}
          {{ product.title | escape }}
        {% if template == 'featured-product' %}</a>{% endif %}
      {% endif %}
    </h2>

    {% if collection_handles contains 'coming-soon' %}
      <p class="product__coming-soon-text">
        {{ 'collections.general.coming_soon' | t }}
      </p>
    {% endif %}

    {% if settings.enable_shopify_product_badges %}
      <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
    {% endif %}

    <div
      class="
        price-container
      "
      data-price-container
      data-sale="{% if selected_variant.compare_at_price > selected_variant.price %}true{% else %}false{% endif %}"
      data-compare-price-visible="{% if selected_variant.compare_at_price > selected_variant.price %}true{% else %}false{% endif %}"
      data-sold-out="{% if selected_variant.available == false %}true{% else %}false{% endif %}"
      data-unavailable="{% if selected_variant == false %}true{% else %}false{% endif %}"
    >
      {% unless collection_handles contains 'coming-soon' %}
        <p class="price-container__price">
          {% if onboarding %}
            <span class="price-container__price">$49.00</span>
          {% else %}
            <span content="{{ selected_variant.price | money_without_currency | remove: ',' }}">
              <span class="price-container__price" data-product-price data-selected-variant="{% if product or selected_variant %}true{% else %}false{% endif %}">
                {% if selected_variant.price > 0 %}
                  <span class="money">
                    {% render 'price-element', price: selected_variant.price %}
                  </span>
                {% elsif product.price > 0 %}
                  <span class="money">
                    {% render 'price-element', price: product.price %}
                  </span>
                {% else %}
                  {{ settings.free_price_text }}
                {% endif %}
              </span>
            </span>
          {% endif %}
          <span class="product__compare-price" data-product-price-compare>
            {% if selected_variant.price < selected_variant.compare_at_price and selected_variant.available %}
              <span class="money">
                {% render 'price-element', price: selected_variant.compare_at_price %}
              </span>
            {% endif %}
          </span>
        </p>

        {% capture total_quantity %}<span data-total-quantity>{{ selected_variant.unit_price_measurement.quantity_value }}{{ selected_variant.unit_price_measurement.quantity_unit }}</span>{% endcapture %}
        {% capture unit_price %}<span data-unit-price-amount>{{ selected_variant.unit_price | money }}</span>{% endcapture %}
        {% capture unit_measure %}<span data-unit-price-measure>{%- if selected_variant.unit_price_measurement.reference_value != 1 -%}{{ selected_variant.unit_price_measurement.reference_value }}{%- endif %}{{ selected_variant.unit_price_measurement.reference_unit }}</span>{% endcapture %}

        <div
          class="
            product__unit-price
            {% unless selected_variant.unit_price_measurement %}product__unit-price--hidden{% endunless %}
          "
          data-unit-price
        >
          {{ 'product.unit_pricing.price_per_unit_html' | t: total_quantity: total_quantity, unit_price: unit_price, unit_measure: unit_measure | strip_newlines }}
        </div>

        <span
          class="
            product__unavailable-text
          "
        >
          <span data-unavailable-text>{{ 'products.product.unavailable' | t }}</span>
        </span>
      {% endunless %}

      {% if template != 'product-quickshop' %}
        {% assign display_size_chart_button = false %}
        {% assign product_tags = product.tags | join: ' ' %}
        {% if product_tags contains 'meta-size-chart-' %}
          {% for tag in product.tags %}
            {% if tag contains 'meta-size-chart-' %}
              {% assign size_chart = tag | handle | remove: 'meta-size-chart-' %}
              {% assign display_size_chart_button = true %}
            {% endif %}
          {% endfor %}
        {% elsif settings.size_chart != blank %}
          {% assign display_size_chart_button = true %}
        {% endif %}

        {% if display_size_chart_button %}
          <button
            class="product__size-chart-button"
            data-size-chart-trigger
          >
            {{ 'products.product.size_chart' | t }}
          </button>
          {%
            render 'size-chart-popup',
            product: product,
            size_chart: size_chart
          %}
        {% endif %}
      {% endif %}
      <form data-payment-terms-target style="display: none;"></form>
    </div>

    {% if section.settings.display_sku %}
      <p
        class="
          product__sku
          {% if selected_variant.sku == empty %}product__sku--empty{% endif %}
        "
        data-product-sku
      >
        {{ selected_variant.sku }}
      </p>
    {% endif %}

    <p data-variant-error-message>{{ 'product.variants.error_message' | t }}</p>

    {% if template != 'product-description-bottom' %}
      {% if template == 'featured-product' %}
        {% if section.settings.frontpage_display_description %}
          {% if product_description_position == "top" %}
            {% if onboarding %}
              {{ 'homepage.onboarding.product_description' | t }}
            {% elsif product.description != blank %}
              <div class="product__description product__description--top">
                {{ product.description | split: '<!-- split -->' | first }}
              </div>
            {% endif %}
          {% endif %}
        {% endif %}
      {% else %}
        {% if product_description_position == "top" %}
          {% if onboarding %}
            {{ 'homepage.onboarding.product_description' | t }}
          {% elsif product.description != blank %}
            <div class="product__description product__description--top">
              {% if template == 'product-quickshop' and settings.description_words != 'none' %}
                {{ product.description | split: '<!-- split -->' | first | truncatewords: settings.description_words }}
              {% else %}
                {{ product.description | split: '<!-- split -->' | first }}
              {% endif %}
            </div>
          {% endif %}
        {% endif %}
      {% endif %}
    {% endif %}

    {% if onboarding %}
      <button
        type="submit"
        name="add"
        class="
          product__add-to-cart-button
          product__add-to-cart-button--onboarding
        "
        data-product-atc
        >
        <span class="text" data-product-atc-text>
          {{ 'products.product.add_to_cart' | t }}
        </span>
      </button>
    {% else %}

      {% unless collection_handles contains 'coming-soon' %}
        <div class="product__form" data-product-form-area>
          {%
            render 'product-form',
            product: product,
            context: 'product',
            collection_handles: collection_handles,
            show_payment_button_quickshop: show_payment_button_quickshop
          %}
        </div>

        {%
          render 'product-notify-me',
          product: product,
          variant: selected_variant
        %}
      {% endunless %}

    {% endif %}

    {% if template != 'featured-product' %}
      {% if settings.enable_shopify_review_comments and settings.review_position == "top" %}
        <div id="shopify-product-reviews" data-id="{{product.id}}">
          {{ product.metafields.spr.reviews }}
        </div>
      {% endif %}
    {% endif %}

    {% if template != 'product-description-bottom' %}
      {% if template == 'featured-product' %}
        {% if section.settings.frontpage_display_description %}
          {% if product_description_position == "bottom" %}
            {% if onboarding %}
              {{ 'homepage.onboarding.product_description' | t }}
            {% elsif product.description != blank %}
              <div class="product__description product__description--bottom">
                {{ product.description | split: '<!-- split -->' | first }}
              </div>
            {% endif %}
          {% endif %}
        {% endif %}
      {% else %}
        {% if product_description_position == "bottom" %}
          {% if onboarding %}
            {{ 'homepage.onboarding.product_description' | t }}
          {% elsif product.description != blank %}
            <div class="product__description product__description--bottom">
              {% if template == 'product-quickshop' and settings.description_words != 'none' %}
                {{ product.description | split: '<!-- split -->' | first | truncatewords: settings.description_words }}
              {% else %}
                {{ product.description | split: '<!-- split -->' | first }}
              {% endif %}
            </div>
          {% endif %}
        {% endif %}
      {% endif %}
    {% endif %}

    {% if section.settings.display_social_buttons %}
      {% render 'social-buttons' %}
    {% endif %}

    <div class="meta product__tags--wrapper">
      {% if section.settings.display_collections %}
        <p class="product__collections">
          <span>
            {% for col in product.collections %}
              <a href="{{ col.url }}" title="{{ col.title }}">
                {{ col.title | escape }}
              </a>
            {% endfor %}
          </span>
        </p>
      {% endif %}

      {% if section.settings.display_tags %}
        <p class="product__tags">
          {% for tag in product.tags %}
            {% unless tag contains 'meta-' %}
              <span>
                <a href="{{ routes.collections_url }}/{% if collection %}{{ collection.handle }}{% else %}all{% endif %}/{{ tag | handle }}" title="{{ 'products.product.products_tagged' | t: tag: tag }}">
                  {{ tag }}
                </a>
              </span>
            {% endunless %}
          {% endfor %}
        </p>
      {% endif %}

      {% if section.settings.display_type %}
        <p class="product__types">
          {% if product.type != blank %}
            <span>
              {{ product.type | link_to_type }}
            </span>
          {% endif %}
        </p>
      {% endif %}
    </div>
  </div>
</div>

{% if template == 'product-description-bottom' %}
  <div class="product__description">
    {% if onboarding %}
      {{ 'homepage.onboarding.product_description' | t }}
    {% elsif product.description != blank %}
      {{ product.description }}
    {% endif %}
  </div>
{% elsif product.description contains "<!-- split -->" %}
  <br />
  <div class="product__description">
    {% if template == 'product-quickshop' and settings.description_words != 'none' %}
      {{ product.description | split: '<!-- split -->' | last | truncatewords: settings.description_words }}
    {% else %}
      {{ product.description | split: '<!-- split -->' | last }}
    {% endif %}
  </div>
{% endif %}

{% if template != 'featured-product' %}
  {% if settings.enable_shopify_review_comments and settings.review_position == "bottom" %}
    <div id="shopify-product-reviews" data-id="{{product.id}}">
      {{ product.metafields.spr.reviews }}
    </div>
  {% endif %}
{% endif %}

<div data-product-recommendations-container>
  {% comment %} Insert recommended products {% endcomment %}
</div>

{% if section.settings.set_product_height %}
  {% style %}
    .product-gallery--fixed-height-enabled model-viewer {
      min-height: {{ section.settings.product_height }}px;
    }

    .product-gallery--fixed-height-enabled .product-gallery__main [data-rimg],
    .product-gallery--fixed-height-enabled .product-gallery__main .plyr--html5 video,
    .product-gallery--fixed-height-enabled .product-gallery__main .plyr--youtube {
      max-height: {{ section.settings.product_height }}px;
    }
  {% endstyle %}
{% endif %}

{% comment %} Shopify-XR {% endcomment %}
{% if product.media %}
  <script>
  window.ShopifyXR=window.ShopifyXR||function(){(ShopifyXR.q=ShopifyXR.q||[]).push(arguments)}
    {% assign models = product.media | where: 'media_type', 'model' | json %}
    ShopifyXR('addModels', {{ models }});
  </script>
{% endif %}
