{% if featured %}
  {%- assign collection = collections[featured_collection] -%}
{% endif %}

{% assign toggle = false %}
{% if section.settings.toggle %}
  {% assign toggle = true %}
{% endif %}

{% if section.blocks.size > 0 %}
  {% for block in section.blocks %}
    <div
      class="sidebar__block"
      {{ block.shopify_attributes }}
    >
      {% comment %} Menu {% endcomment %}
      {% if block.type == 'menu' %}
        {%- assign sidebar_menu = linklists[block.settings.custom_menu_linklist] -%}
        {% if sidebar_menu != blank %}
          {% if toggle %}
            <a
              href="#"
              class="sidebar__block-toggle"
              data-sidebar-toggle
              data-open="false"
              aria-haspopup="true"
              aria-expanded="false"
              aria-controls="sidebar-content-{{ block.id }}"
            >
          {% endif %}
            <h2 class="sidebar__block-heading">
              {{ sidebar_menu.title | escape }}
            </h2>
          {% if toggle %}
            </a>
          {% endif %}
          <div
            id="sidebar-content-{{ block.id }}"
            class="sidebar__block-content"
            {% if toggle %}data-animation-state="closed"{% endif %}
          >
            <ul class="sidebar__block-menu-list">
              {% for link in sidebar_menu.links %}
                <li>
                  <a
                    class="
                      sidebar__block-link
                      {% if link.active or link.child_active %}sidebar__block-link--active{% endif %}
                    "
                    href="{{ link.url }}"
                  >
                    {{ link.title | escape }}
                  </a>

                  {% if link.links != blank %}
                    <ul class="sidebar__block-menu-list">
                      {% for sub_link in link.links %}
                        <li>
                          <a
                            class="
                              sidebar__block-link
                              {% if sub_link.active or sub_link.child_active %}sidebar__block-link--active{% endif %}
                            "
                            href="{{ sub_link.url }}"
                          >
                            {{ sub_link.title | escape }}
                          </a>

                          {% if sub_link.links != blank %}
                            <ul class="sidebar__block-menu-list">
                              {% for sub_sub_link in sub_link.links %}
                                <li>
                                  <a
                                    class="
                                      sidebar__block-link
                                      {% if sub_sub_link.active or sub_sub_link.child_active %}sidebar__block-link--active{% endif %}
                                    "
                                    href="{{ sub_sub_link.url }}"
                                  >
                                    {{ sub_sub_link.title | escape }}
                                  </a>
                                </li>
                              {% endfor %}
                            </ul>
                          {% endif %}
                        </li>
                      {% endfor %}
                    </ul>
                  {% endif %}
                </li>
              {% endfor %}
            </ul>
          </div>
        {% else %}
          <h2
            class="sidebar__block-heading"
            data-sidebar-toggle
            data-open="false"
            aria-haspopup="true"
            aria-expanded="false"
            aria-controls="sidebar-content-{{ block.id }}"
          >
            {{ 'homepage.onboarding.menu_title' | t }}
          </h2>
          <div
            id="sidebar-content-{{ block.id }}"
            class="sidebar__block-content"
            {% if toggle %}data-animation-state="closed"{% endif %}
          >
            <p>{{ 'homepage.onboarding.no_content' | t }}</p>
          </div>
        {% endif %}
      {% endif %}


      {% comment %} Text {% endcomment %}
      {% if block.type == 'text' %}
        {% if toggle %}
          <a
            href="#"
            class="sidebar__block-toggle"
            data-sidebar-toggle
            data-open="false"
            aria-haspopup="true"
            aria-expanded="false"
            aria-controls="sidebar-content-{{ block.id }}"
          >
        {% endif %}
          <h2 class="sidebar__block-heading">
            {{ block.settings.title | escape }}
          </h2>
        {% if toggle %}
          </a>
        {% endif %}
        <div
          id="sidebar-content-{{ block.id }}"
          class="sidebar__block-content"
          {% if toggle %}data-animation-state="closed"{% endif %}
        >
          {{ block.settings.text }}
        </div>
      {% endif %}


      {% comment %} Page {% endcomment %}
      {% if block.type == 'page' %}
        {% if block.settings.content_page != blank %}
          {% if toggle %}
            <a
              href="#"
              class="sidebar__block-toggle"
              data-sidebar-toggle
              data-open="false"
              aria-haspopup="true"
              aria-expanded="false"
              aria-controls="sidebar-content-{{ block.id }}"
            >
          {% endif %}
            <h2 class="sidebar__block-heading">
              {{ pages[block.settings.content_page].title | escape }}
            </h2>
          {% if toggle %}
            </a>
          {% endif %}
          <div
            id="sidebar-content-{{ block.id }}"
            class="sidebar__block-content"
            {% if toggle %}data-animation-state="closed"{% endif %}
          >
            {{ pages[block.settings.content_page].content }}
          </div>
        {% else %}
          {% if toggle %}
            <a
              href="#"
              class="sidebar__block-toggle"
              data-sidebar-toggle
              data-open="false"
              aria-haspopup="true"
              aria-expanded="false"
              aria-controls="sidebar-content-{{ block.id }}"
            >
          {% endif %}
            <h2 class="sidebar__block-heading">
              {{ 'homepage.onboarding.page_title' | t }}
            </h2>
          {% if toggle %}
            </a>
          {% endif %}
          <div
            id="sidebar-content-{{ block.id }}"
            class="sidebar__block-content"
            {% if toggle %}data-animation-state="closed"{% endif %}
          >
            <p>{{ 'homepage.onboarding.no_content' | t }}</p>
          </div>
        {% endif %}
      {% endif %}

      {% comment %} Blog Search {% endcomment %}
      {% if block.type == 'search' %}
        {% if toggle %}
          <a
            href="#"
            class="sidebar__block-toggle"
            data-sidebar-toggle
            data-open="false"
            aria-haspopup="true"
            aria-expanded="false"
            aria-controls="sidebar-content-{{ block.id }}"
          >
        {% endif %}
          <h2 class="sidebar__block-heading">
            {{ 'general.search.title' | t }}
          </h2>
        {% if toggle %}
          </a>
        {% endif %}
        <div
          id="sidebar-content-{{ block.id }}"
          class="sidebar__block-content"
          {% if toggle %}data-animation-state="closed"{% endif %}
        >
          <form class="sidebar__search-form" action="{{ routes.search_url }}" data-search-form>
            <input data-search-type type="hidden" name="type" value="article">
            <input data-search-terms type="text" name="q" class="sidebar__search-box" placeholder="{{ 'general.search.title' | t }} {{ blog.title | escape }}..." autocapitalize="off" autocomplete="off" autocorrect="off" value="{{ search.terms }}">
            <button type="submit" class="sidebar__search-submit" aria-label="{{ 'general.search.title' | t }}">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M18 10C18 13.866 14.866 17 11 17C7.13401 17 4 13.866 4 10C4 6.13401 7.13401 3 11 3C14.866 3 18 6.13401 18 10ZM15.7389 16.446C14.4125 17.4228 12.7736 18 11 18C6.58172 18 3 14.4183 3 10C3 5.58172 6.58172 2 11 2C15.4183 2 19 5.58172 19 10C19 12.2836 18.0432 14.3438 16.5085 15.8014L21.3536 20.6464C21.5488 20.8417 21.5488 21.1583 21.3536 21.3536C21.1583 21.5488 20.8417 21.5488 20.6464 21.3536L15.7389 16.446Z" fill="currentColor"/>
              </svg>
            </button>
          </form>
        </div>
      {% endif %}

      {% comment %} Product Types {% endcomment %}
      {% if block.type == 'filter_by_type' %}
        {% if toggle %}
          <a
            href="#"
            class="sidebar__block-toggle"
            data-sidebar-toggle
            data-open="false"
            aria-haspopup="true"
            aria-expanded="false"
            aria-controls="sidebar-content-{{ block.id }}"
          >
        {% endif %}
          <h2 class="sidebar__block-heading">
            {{ 'collections.sidebar.product_types' | t }}
          </h2>
        {% if toggle %}
          </a>
        {% endif %}
        <div
          id="sidebar-content-{{ block.id }}"
          class="sidebar__block-content"
          {% if toggle %}data-animation-state="closed"{% endif %}
        >
          <ul class="sidebar__block-menu-list">
            {% for product_type in shop.types %}
              {% unless product_type == blank %}
                <li>
                  {% if product_type == collection.title %}
                    {{ product_type | link_to_type | replace: "<a", "<a class='sidebar__block-link sidebar__block-link--active'" }}
                  {% else %}
                    {{ product_type | link_to_type | replace: "<a", "<a class='sidebar__block-link'" }}
                  {% endif %}
                </li>
              {% endunless %}
            {% endfor %}
          </ul>
        </div>
      {% endif %}


      {% comment %} Collections {% endcomment %}
      {% if block.type == 'filter_by_collection' %}
        {% if toggle %}
          <a
            href="#"
            class="sidebar__block-toggle"
            data-sidebar-toggle
            data-open="false"
            aria-haspopup="true"
            aria-expanded="false"
            aria-controls="sidebar-content-{{ block.id }}"
          >
        {% endif %}
          <h2 class="sidebar__block-heading">
            {{ 'collections.sidebar.collections' | t }}
          </h2>
        {% if toggle %}
          </a>
        {% endif %}
        <div
          id="sidebar-content-{{ block.id }}"
          class="sidebar__block-content"
          {% if toggle %}data-animation-state="closed"{% endif %}
        >
          <ul class="sidebar__block-menu-list">
            {% for col in collections %}
              {% unless col.handle == 'frontpage' %}
                <li>
                  <a
                    href="{{ col.url }}"
                    class="
                      sidebar__block-link
                      {% if col.handle == collection.handle %}sidebar__block-link--active{% endif %}
                    "
                  >
                    {{ col.title | escape }}
                  </a>
                </li>
              {% endunless %}
            {% endfor %}
          </ul>
        </div>
      {% endif %}


      {% comment %} Vendors {% endcomment %}
      {% if block.type == 'filter_by_vendor' %}
        {% if toggle %}
          <a
            href="#"
            class="sidebar__block-toggle"
            data-sidebar-toggle
            data-open="false"
            aria-haspopup="true"
            aria-expanded="false"
            aria-controls="sidebar-content-{{ block.id }}"
          >
        {% endif %}
          <h2 class="sidebar__block-heading">
            {{ 'collections.sidebar.vendors' | t }}
          </h2>
        {% if toggle %}
          </a>
        {% endif %}
        <div
          id="sidebar-content-{{ block.id }}"
          class="sidebar__block-content"
          {% if toggle %}data-animation-state="closed"{% endif %}
        >
          <ul class="sidebar__block-menu-list">
            {% for product_vendor in shop.vendors %}
              <li>
                {% if product_vendor == collection.title %}
                  {{ product_vendor | link_to_vendor | replace: "<a", "<a class='sidebar__block-link sidebar__block-link--active'" }}
                {% else %}
                  {{ product_vendor | link_to_vendor | replace: "<a", "<a class='sidebar__block-link'" }}
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}


      {% comment %} Blog Post Tags {% endcomment %}
      {% if block.type == 'post_tags' %}
        {% if toggle %}
          <a
            href="#"
            class="sidebar__block-toggle"
            data-sidebar-toggle
            data-open="false"
            aria-haspopup="true"
            aria-expanded="false"
            aria-controls="sidebar-content-{{ block.id }}"
          >
        {% endif %}
          <h2 class="sidebar__block-heading">
            {{ 'blogs.sidebar.categories' | t }}
          </h2>
        {% if toggle %}
          </a>
        {% endif %}
        <div
          id="sidebar-content-{{ block.id }}"
          class="sidebar__block-content"
          {% if toggle %}data-animation-state="closed"{% endif %}
        >
          {% render 'blog-tags', class_prefix: 'sidebar', blog: blog %}
        </div>
      {% endif %}


      {% comment %} Recent Blog Posts {% endcomment %}
      {% if block.type == 'recent_posts' %}
        {% if toggle %}
          <a
            href="#"
            class="sidebar__block-toggle"
            data-sidebar-toggle
            data-open="false"
            aria-haspopup="true"
            aria-expanded="false"
            aria-controls="sidebar-content-{{ block.id }}"
          >
        {% endif %}
          <h2 class="sidebar__block-heading">
            {{ 'blogs.sidebar.recent_articles' | t }}
          </h2>
        {% if toggle %}
          </a>
        {% endif %}
        <div
          id="sidebar-content-{{ block.id }}"
          class="sidebar__block-content"
          {% if toggle %}data-animation-state="closed"{% endif %}
        >
          <ul class="sidebar__block-menu-list">
            {% for article in blogs[blog.handle].articles limit:10 %}
              <li>
                <a
                  href="{{ article.url }}"
                  class="
                    sidebar__block-link
                    {% if col.handle == collection.handle %}sidebar__block-link--active{% endif %}
                  "
                >
                  {{ article.title | escape }}
                  {% if section.settings.blog_date %}
                    <span class="sidebar__blog-date">{{ article.published_at | date: format: "month_day_year" }}</span>
                  {% endif %}
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}


      {% comment %} Newsletter Signup {% endcomment %}
      {% if block.type == 'newsletter' %}
        {% if toggle %}
          <a
            href="#"
            class="sidebar__block-toggle"
            data-sidebar-toggle
            data-open="false"
            aria-haspopup="true"
            aria-expanded="false"
            aria-controls="sidebar-content-{{ block.id }}"
          >
        {% endif %}
          <h2 class="sidebar__block-heading">
            {{ 'blogs.sidebar.subscribe' | t }}
          </h2>
        {% if toggle %}
          </a>
        {% endif %}
        <div
          id="sidebar-content-{{ block.id }}"
          class="sidebar__block-content"
          {% if toggle %}data-animation-state="closed"{% endif %}
        >
          {% if block.settings.newsletter_richtext != blank %}
            {{ block.settings.newsletter_richtext }}
          {% endif %}
          {% form 'customer', class: 'sidebar__newsletter-form' %}
            {% if form.posted_successfully? %}
              <p class="success">
                {{ 'general.newsletter_form.success_text' | t }}
              </p>
            {% elsif form.errors %}
              {{ form.errors | default_errors }}
            {% endif %}

            <input type="hidden" name="contact[tags]" value="newsletter"/>
            {% if block.settings.display_first_name %}
              <input
                type="text"
                name="contact[first_name]"
                class="sidebar__newsletter-first-name"
                placeholder="{{ 'general.newsletter_form.subscriber_first_name' | t }}"
                aria-label="{{ 'general.newsletter_form.subscriber_first_name' | t }}"
              />
            {% endif %}
            {% if block.settings.display_last_name %}
              <input
                type="text"
                name="contact[last_name]"
                class="sidebar__newsletter-last-name"
                placeholder="{{ 'general.newsletter_form.subscriber_last_name' | t }}"
                aria-label="{{ 'general.newsletter_form.subscriber_last_name' | t }}"
              />
            {% endif %}
            <input type="hidden" name="challenge" value="false">
            <label for="sidebar_newsletter_email">{{ 'general.newsletter_form.email' | t }}</label>
            <input
              id="sidebar_newsletter_email"
              type="email"
              name="contact[email]"
              class="sidebar__newsletter-email"
              required
              placeholder="{{ 'general.newsletter_form.placeholder' | t }}"
              aria-label="{{ 'general.newsletter_form.placeholder' | t }}"
              autocorrect="off"
              autocapitalize="off"
            />
            <input type='submit' class="sidebar__newsletter-submit" value="{{ 'general.newsletter_form.submit' | t }}" />
          {% endform %}
        </div>
      {% endif %}

    </div>
  {% endfor %}
{% endif %}
