<ul class="social-icons">
  {% if settings.twitter_link != '' %}
    <li class="twitter">
      <a href="{{ settings.twitter_link }}" aria-label="{{ shop.name }} on Twitter" rel="me" target="_blank">
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M20 3.89468C19.4351 4.71404 18.7571 5.40866 17.9662 5.97853C17.9662 6.03442 17.9731 6.12134 17.987 6.23926C18.0009 6.35719 18.0078 6.4441 18.0078 6.5C18.0078 7.58316 17.8452 8.66667 17.5201 9.75051C17.195 10.8344 16.7008 11.8691 16.0374 12.8548C15.3741 13.8405 14.5866 14.7154 13.6751 15.4795C12.7635 16.2437 11.669 16.8548 10.3915 17.3129C9.11394 17.771 7.7404 18 6.27086 18C3.98267 18 1.89238 17.3957 0 16.1871C0.395806 16.2151 0.720562 16.229 0.974266 16.229C2.88121 16.229 4.58331 15.6595 6.08058 14.5204C5.19054 14.5068 4.39615 14.2396 3.69743 13.7188C2.9987 13.198 2.50793 12.5279 2.22511 11.7086C2.46495 11.7645 2.72628 11.7924 3.0091 11.7924C3.39035 11.7924 3.75045 11.7369 4.08942 11.6258C3.14323 11.4315 2.35924 10.9663 1.73746 10.2301C1.11567 9.49386 0.804783 8.64656 0.804783 7.68814V7.64622C1.3413 7.92433 1.95581 8.07703 2.6483 8.10429C2.09722 7.74301 1.65947 7.26721 1.33507 6.67689C1.01066 6.08657 0.848107 5.45126 0.847414 4.77096C0.847414 4.07635 1.02383 3.39571 1.37666 2.72904C2.40742 3.99284 3.65376 4.98943 5.11567 5.71881C6.57759 6.44819 8.1629 6.85446 9.87159 6.93763C9.77246 6.59066 9.7229 6.28493 9.7229 6.02045C9.7229 4.90934 10.1253 3.96149 10.9301 3.17689C11.7349 2.3923 12.7164 2 13.8747 2C14.4396 2 14.9834 2.11111 15.5061 2.33333C16.0288 2.55556 16.4738 2.8681 16.8412 3.27096C17.7735 3.09032 18.6421 2.7638 19.4468 2.29141C19.1502 3.2362 18.5499 3.97921 17.646 4.52045C18.5076 4.40934 19.2916 4.20109 19.9979 3.89571L20 3.89468Z" fill="currentColor"/>
        </svg>
      </a>
    </li>
  {% endif %}

  {% if settings.facebook_link != '' %}
    <li class="facebook">
      <a href="{{ settings.facebook_link }}" aria-label="{{ shop.name }} on Facebook" rel="me" target="_blank">
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g><path d="M0.00195312 10.002C0.00311667 14.9214 3.58036 19.1101 8.43895 19.881V12.892H5.90195V10.002H8.44195V7.80204C8.32841 6.75958 8.68447 5.72064 9.41359 4.96698C10.1427 4.21332 11.1693 3.82306 12.215 3.90204C12.9655 3.91417 13.7141 3.98101 14.455 4.10205V6.56104H13.191C12.7558 6.50405 12.3183 6.64777 12.0017 6.95171C11.6851 7.25566 11.5237 7.68693 11.563 8.12404V10.002H14.334L13.891 12.893H11.563V19.881C16.8174 19.0506 20.502 14.2518 19.9475 8.96112C19.3929 3.67041 14.7932 -0.260027 9.48078 0.0172227C4.16831 0.294472 0.0027976 4.68235 0.00195312 10.002Z" fill="currentColor"/></g>
        </svg>
      </a>
    </li>
  {% endif %}

  {% if settings.youtube_link != '' %}
    <li class="youtube">
      <a href="{{ settings.youtube_link }}" aria-label="{{ shop.name }} on YouTube" rel="me" target="_blank">
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g><path d="M10.0207 17.012H10.0007C9.93865 17.012 3.73565 17 2.17065 16.575C1.31007 16.3432 0.638002 15.6707 0.406653 14.81C0.125231 13.2224 -0.0106662 11.6123 0.000652814 10C-0.00661805 8.38501 0.132956 6.77271 0.417653 5.183C0.65536 4.32151 1.32448 3.64595 2.18365 3.4C3.70565 3 9.73765 3 9.99365 3H10.0147C10.0777 3 16.2967 3.012 17.8457 3.437C18.7044 3.67001 19.3751 4.3411 19.6077 5.2C19.898 6.79354 20.0343 8.41134 20.0147 10.031C20.0217 11.644 19.8818 13.2543 19.5967 14.842C19.3623 15.7016 18.6898 16.3726 17.8297 16.605C16.3097 17.008 10.2767 17.012 10.0207 17.012ZM8.02065 7.005L8.01565 13.005L13.2277 10.005L8.02065 7.005Z" fill="currentColor"/></g>
        </svg>
      </a>
    </li>
  {% endif %}

  {% if settings.vimeo_link != '' %}
    <li class="vimeo">
      <a href="{{ settings.vimeo_link }}" aria-label="{{ shop.name }} on Vimeo" rel="me" target="_blank">
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M0.214867 6.81403L1.11387 8.01703C1.94653 7.3977 2.4492 7.08803 2.62187 7.08803C3.28187 7.08803 3.8962 8.13903 4.46487 10.241L5.21087 13.067C5.55553 14.3724 5.82453 15.3754 6.01787 16.076C6.7692 18.178 7.71353 19.229 8.85087 19.229C10.6589 19.229 12.8525 17.4924 15.4319 14.019C17.9605 10.7184 19.2705 8.10837 19.3619 6.18903V5.85403C19.3619 3.51803 18.4275 2.3197 16.5589 2.25903H16.3459C13.8372 2.25903 12.1109 3.7977 11.1669 6.87503C11.7155 6.6417 12.1929 6.52503 12.5989 6.52503C13.4622 6.52503 13.8939 6.97203 13.8939 7.86603C13.8939 7.97803 13.8889 8.0947 13.8789 8.21603C13.8182 8.93737 13.3915 9.92237 12.5989 11.171C11.7862 12.481 11.1819 13.136 10.7859 13.136C10.2579 13.136 9.79087 12.1407 9.38487 10.15C9.26287 9.6827 9.00387 8.1747 8.60787 5.62603C8.4352 4.52937 8.1152 3.71703 7.64787 3.18903C7.24187 2.7317 6.7342 2.49803 6.12487 2.48803C6.04353 2.48803 5.9572 2.49303 5.86587 2.50303C5.22587 2.5637 4.2762 3.1477 3.01687 4.25503C2.36687 4.86437 1.43253 5.71737 0.213867 6.81403H0.214867Z" fill="currentColor"/>
        </svg>
      </a>
    </li>
  {% endif %}

  {% if settings.pinterest_link != '' %}
    <li class="pinterest">
      <a href="{{ settings.pinterest_link }}" aria-label="{{ shop.name }} on Pinterest" rel="me" target="_blank">
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M9.95784 0.811059C11.2265 0.811059 12.4382 1.05906 13.5928 1.55506C14.7475 2.05106 15.7435 2.71773 16.5808 3.55506C17.4182 4.39239 18.0848 5.38839 18.5808 6.54306C19.0768 7.69773 19.3248 8.90939 19.3248 10.1781C19.3248 11.8694 18.9062 13.4347 18.0688 14.8741C17.2315 16.3134 16.0932 17.4517 14.6538 18.2891C13.2145 19.1264 11.6492 19.5451 9.95784 19.5451C9.03118 19.5451 8.14484 19.4231 7.29884 19.1791C7.77018 18.4144 8.08718 17.7394 8.24984 17.1541L8.90884 14.5931C9.07151 14.9017 9.37251 15.1741 9.81184 15.4101C10.2512 15.6461 10.7145 15.7641 11.2018 15.7641C12.1778 15.7641 13.0518 15.4834 13.8238 14.9221C14.5958 14.3607 15.1935 13.5924 15.6168 12.6171C16.0402 11.6417 16.2515 10.5441 16.2508 9.32406C16.2508 7.87673 15.6938 6.62039 14.5798 5.55506C13.4658 4.48973 12.0468 3.95706 10.3228 3.95706C9.26551 3.95706 8.29784 4.13606 7.41984 4.49406C6.54184 4.85206 5.83451 5.31973 5.29784 5.89706C4.76118 6.47439 4.35051 7.10039 4.06584 7.77506C3.78118 8.44973 3.63884 9.12873 3.63884 9.81206C3.63884 10.6574 3.79751 11.3974 4.11484 12.0321C4.43218 12.6667 4.90784 13.1141 5.54184 13.3741C5.65584 13.4227 5.75351 13.4267 5.83484 13.3861C5.91618 13.3454 5.97318 13.2681 6.00584 13.1541C6.11984 12.7474 6.18484 12.4954 6.20084 12.3981C6.26618 12.2194 6.22551 12.0487 6.07884 11.8861C5.65618 11.4147 5.44484 10.8047 5.44484 10.0561C5.44484 8.82006 5.87184 7.75906 6.72584 6.87306C7.57984 5.98706 8.69784 5.54406 10.0798 5.54406C11.2998 5.54406 12.2512 5.87739 12.9338 6.54406C13.6165 7.21073 13.9582 8.08073 13.9588 9.15406C13.9588 10.0487 13.8368 10.8741 13.5928 11.6301C13.3488 12.3861 12.9992 12.9917 12.5438 13.4471C12.0885 13.9024 11.5682 14.1301 10.9828 14.1301C10.4948 14.1301 10.0965 13.9511 9.78784 13.5931C9.47918 13.2351 9.38151 12.8121 9.49484 12.3241C9.56018 12.0961 9.64551 11.8034 9.75084 11.4461C9.85618 11.0887 9.94551 10.7837 10.0188 10.5311C10.0922 10.2784 10.1612 10.0061 10.2258 9.71406C10.2905 9.42206 10.3232 9.17806 10.3238 8.98206C10.3238 8.57539 10.2182 8.24206 10.0068 7.98206C9.79551 7.72206 9.48651 7.59206 9.07984 7.59206C8.57584 7.59206 8.15284 7.82373 7.81084 8.28706C7.46884 8.75039 7.29818 9.33173 7.29884 10.0311C7.29884 10.2911 7.31918 10.5431 7.35984 10.7871C7.40051 11.0311 7.44518 11.2101 7.49384 11.3241L7.56684 11.4951C6.90018 14.3897 6.49351 16.0891 6.34684 16.5931C6.21684 17.2111 6.16818 17.9347 6.20084 18.7641C4.52551 18.0161 3.17151 16.8694 2.13884 15.3241C1.10618 13.7787 0.589844 12.0631 0.589844 10.1771C0.589844 7.59106 1.50451 5.38339 3.33384 3.55406C5.16318 1.72473 7.37084 0.810059 9.95684 0.810059L9.95784 0.811059Z" fill="currentColor"/>
        </svg>
      </a>
    </li>
  {% endif %}

  {% if settings.tumblr_link != '' %}
    <li class="tumblr">
      <a href="{{ settings.tumblr_link }}" aria-label="{{ shop.name }} on Tumblr" rel="me" target="_blank">
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M4.48438 8.24874H6.32259V14.4747C6.32259 15.226 6.4066 15.8436 6.57463 16.3275C6.76211 16.7726 7.05372 17.168 7.44946 17.5138C7.83481 17.8693 8.34375 18.1609 8.97628 18.3886C9.57896 18.5962 10.2657 18.7 11.0364 18.7C11.7085 18.7 12.3361 18.6257 12.9193 18.4772C13.4234 18.3785 14.0806 18.1366 14.8909 17.7512V14.9642C14.0709 15.5273 13.221 15.8089 12.3413 15.8089C11.9067 15.8089 11.4717 15.6953 11.0364 15.4683C10.7795 15.3003 10.5868 15.068 10.4583 14.7715C10.3597 14.4452 10.3104 13.788 10.3104 12.8V8.24874H14.3128V5.46174H10.3104V1H7.90877C7.82962 1.84012 7.63695 2.58618 7.33074 3.23817C7.02453 3.87069 6.63918 4.37477 6.17468 4.75039C5.69071 5.20516 5.12728 5.53115 4.48438 5.72837V8.24874Z" fill="currentColor"/>
        </svg>
      </a>
    </li>
  {% endif %}

  {% if settings.linkedin_link != '' %}
    <li class="linkedin">
      <a href="{{ settings.linkedin_link }}" aria-label="{{ shop.name }} on LinkedIn" rel="me" target="_blank">
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M15.722 15.7221H13.3134V11.9509C13.3134 11.0512 13.2969 9.89449 12.061 9.89449C10.8067 9.89449 10.6147 10.8742 10.6147 11.8858V15.7221H8.20618V7.96717H10.5183V9.02669H10.5504C10.872 8.41709 11.6582 7.7742 12.8308 7.7742C15.2714 7.7742 15.722 9.38036 15.722 11.4684V15.7221ZM5.48995 6.90708C4.7174 6.90708 4.09211 6.28067 4.09211 5.50925C4.09211 4.73839 4.7174 4.1122 5.48995 4.1122C6.26047 4.1122 6.88666 4.73839 6.88666 5.50925C6.88666 6.28067 6.26047 6.90708 5.48995 6.90708ZM4.28429 15.7221H6.69459V7.96717H4.28429V15.7221ZM16.9224 1.875H3.07445C2.41272 1.875 1.875 2.39951 1.875 3.04624V16.9524C1.875 17.5997 2.41272 18.125 3.07445 18.125H16.9224C17.5853 18.125 18.1252 17.5997 18.1252 16.9524V3.04624C18.1252 2.39951 17.5853 1.875 16.9224 1.875Z" fill="currentColor"/>
        </svg>
      </a>
    </li>
  {% endif %}

  {% if settings.instagram_link != '' %}
    <li class="instagram">
      <a href="{{ settings.instagram_link }}" aria-label="{{ shop.name }} on Instagram" rel="me" target="_blank">
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M10 1.93347C12.6289 1.93347 12.9375 1.94519 13.9766 1.99207C14.9375 2.03503 15.457 2.19519 15.8047 2.33191C16.2656 2.5116 16.5938 2.72253 16.9375 3.06628C17.2813 3.41003 17.4961 3.73816 17.6719 4.1991C17.8047 4.54675 17.9688 5.06628 18.0117 6.02722C18.0586 7.06628 18.0703 7.37488 18.0703 10.0038C18.0703 12.6327 18.0586 12.9413 18.0117 13.9803C17.9688 14.9413 17.8086 15.4608 17.6719 15.8085C17.4922 16.2694 17.2813 16.5975 16.9375 16.9413C16.5938 17.285 16.2656 17.4999 15.8047 17.6757C15.457 17.8085 14.9375 17.9725 13.9766 18.0155C12.9375 18.0624 12.6289 18.0741 10 18.0741C7.37109 18.0741 7.0625 18.0624 6.02344 18.0155C5.0625 17.9725 4.54297 17.8124 4.19531 17.6757C3.73438 17.496 3.40625 17.285 3.0625 16.9413C2.71875 16.5975 2.50391 16.2694 2.32813 15.8085C2.19531 15.4608 2.03125 14.9413 1.98828 13.9803C1.94141 12.9413 1.92969 12.6327 1.92969 10.0038C1.92969 7.37488 1.94141 7.06628 1.98828 6.02722C2.03125 5.06628 2.19141 4.54675 2.32813 4.1991C2.50781 3.73816 2.71875 3.41003 3.0625 3.06628C3.40625 2.72253 3.73438 2.50769 4.19531 2.33191C4.54297 2.1991 5.0625 2.03503 6.02344 1.99207C7.0625 1.94128 7.37109 1.93347 10 1.93347ZM10 0.160034C7.32813 0.160034 6.99219 0.171753 5.94141 0.218628C4.89453 0.265503 4.17969 0.433472 3.55469 0.675659C2.90625 0.925659 2.35938 1.2655 1.8125 1.81238C1.26563 2.35925 0.929688 2.91003 0.675781 3.55457C0.433594 4.17957 0.265625 4.89441 0.21875 5.94519C0.171875 6.99206 0.160156 7.328 0.160156 9.99988C0.160156 12.6718 0.171875 13.0077 0.21875 14.0585C0.265625 15.1053 0.433594 15.8202 0.675781 16.4491C0.925781 17.0975 1.26563 17.6444 1.8125 18.1913C2.35938 18.7382 2.91016 19.0741 3.55469 19.328C4.17969 19.5702 4.89453 19.7382 5.94531 19.785C6.99609 19.8319 7.32813 19.8436 10.0039 19.8436C12.6797 19.8436 13.0117 19.8319 14.0625 19.785C15.1094 19.7382 15.8242 19.5702 16.4531 19.328C17.1016 19.078 17.6484 18.7382 18.1953 18.1913C18.7422 17.6444 19.0781 17.0936 19.332 16.4491C19.5742 15.8241 19.7422 15.1093 19.7891 14.0585C19.8359 13.0077 19.8477 12.6757 19.8477 9.99988C19.8477 7.3241 19.8359 6.99207 19.7891 5.94128C19.7422 4.89441 19.5742 4.17957 19.332 3.55066C19.082 2.90222 18.7422 2.35535 18.1953 1.80847C17.6484 1.2616 17.0977 0.925659 16.4531 0.671753C15.8281 0.429565 15.1133 0.261597 14.0625 0.214722C13.0078 0.171753 12.6719 0.160034 10 0.160034Z" fill="currentColor"/>
          <path d="M10 4.94519C7.21094 4.94519 4.94531 7.20691 4.94531 9.99988C4.94531 12.7928 7.21094 15.0546 10 15.0546C12.7891 15.0546 15.0547 12.7889 15.0547 9.99988C15.0547 7.21082 12.7891 4.94519 10 4.94519ZM10 13.2811C8.1875 13.2811 6.71875 11.8124 6.71875 9.99988C6.71875 8.18738 8.1875 6.71863 10 6.71863C11.8125 6.71863 13.2812 8.18738 13.2812 9.99988C13.2812 11.8124 11.8125 13.2811 10 13.2811Z" fill="currentColor"/>
          <path d="M15.2539 5.92578C15.9054 5.92578 16.4336 5.39762 16.4336 4.74609C16.4336 4.09457 15.9054 3.56641 15.2539 3.56641C14.6024 3.56641 14.0742 4.09457 14.0742 4.74609C14.0742 5.39762 14.6024 5.92578 15.2539 5.92578Z" fill="currentColor"/>
        </svg>
      </a>
    </li>
  {% endif %}

  {% if settings.snapchat_link != '' %}
    <li>
      <a href="{{ settings.snapchat_link }}" aria-label="{{ shop.name }} on Snapchat" rel="me" target="_blank">
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M15.1089 3.23973C15.4666 4.57849 15.5512 5.97755 15.3576 7.35083V7.40037C15.3462 7.55427 15.339 7.69342 15.3327 7.83256C15.4352 7.88801 15.5505 7.91423 15.6664 7.90846C15.9668 7.88065 16.2591 7.7944 16.5275 7.65442C16.6475 7.59399 16.78 7.56363 16.914 7.56587C17.0587 7.56356 17.2025 7.58932 17.3378 7.64177C17.6708 7.71977 17.9172 8.00612 17.9491 8.35225C17.9629 8.73314 17.6262 9.06308 16.9388 9.34208C16.8653 9.36632 16.7637 9.40638 16.6529 9.44749C16.2767 9.56239 15.7027 9.75213 15.541 10.1337C15.4666 10.3832 15.5045 10.6534 15.6446 10.8716L15.6571 10.8853C16.395 12.5903 17.8712 13.8486 19.6505 14.2891C19.8573 14.3225 20.007 14.5074 19.9997 14.7202C19.9987 14.7856 19.986 14.8502 19.9624 14.911C19.7625 15.3928 18.9024 15.7543 17.3409 15.9873C17.2783 16.1431 17.2325 16.3053 17.2041 16.4711C17.1782 16.6296 17.1411 16.7861 17.0932 16.9392C17.0445 17.1545 16.8475 17.3005 16.6311 17.2818H16.6062C16.4551 17.2747 16.305 17.2539 16.1576 17.2196C15.8089 17.143 15.4532 17.1049 15.0965 17.1057C14.8423 17.1021 14.5883 17.1233 14.338 17.169C13.8115 17.3093 13.3214 17.5647 12.9018 17.9174C12.1295 18.5781 11.1632 18.9589 10.1549 19C10.1052 19 10.0513 18.9874 10.0036 18.9874H9.87825C8.87342 18.9485 7.91139 18.5634 7.14996 17.8953C6.73536 17.5425 6.2497 17.2867 5.72727 17.1458C5.47166 17.1069 5.21374 17.0858 4.95531 17.0825C4.59866 17.0879 4.24348 17.1303 3.89529 17.209C3.74737 17.2445 3.59642 17.2653 3.44455 17.2712C3.21912 17.2882 3.01406 17.1386 2.95754 16.916C2.9078 16.7537 2.88397 16.586 2.84667 16.4353C2.81754 16.2699 2.77135 16.1081 2.70885 15.9525C1.11001 15.7638 0.249977 15.4075 0.051029 14.9131C0.021758 14.8536 0.00449442 14.7888 0.000255778 14.7223C-0.00704543 14.5096 0.142745 14.3246 0.349452 14.2912C2.12964 13.8505 3.60617 12.5908 4.34293 10.8843L4.35225 10.8579C4.49757 10.6417 4.53585 10.369 4.45587 10.12C4.29422 9.75213 3.71914 9.56239 3.34715 9.43484C3.24804 9.40804 3.15133 9.37278 3.05805 9.32943C2.13584 8.96048 2.01046 8.54094 2.06124 8.25C2.2082 7.83627 2.60335 7.56856 3.03525 7.59011C3.1447 7.58956 3.25317 7.61105 3.3544 7.65336C3.64025 7.80263 3.95373 7.88918 4.27454 7.90741C4.40992 7.9115 4.54397 7.87914 4.66311 7.81359L4.62062 7.3308C4.42776 5.96129 4.51275 4.5661 4.87035 3.23129C5.71122 1.24738 7.64603 -0.0240252 9.76945 0.0119852L10.1166 0.000389741H10.1673C12.304 -0.0255935 14.2493 1.24957 15.1089 3.23973Z" fill="currentColor"/>
        </svg>
      </a>
    </li>
  {% endif %}

  {% if settings.houzz_link != '' %}
    <li>
      <a href="{{ settings.houzz_link }}" aria-label="{{ shop.name }} on Houzz" rel="me" target="_blank">
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1 20V0H5.61556V4.61556L19.2044 8.46222V20H12.7956V13.3333H7.66667V20H1Z" fill="currentColor"/>
        </svg>
      </a>
    </li>
  {% endif %}

  {% if settings.email_link != '' %}
    <li class="email">
      <a href="mailto:{{ settings.email_link }}" aria-label="Email {{ shop.name }}" rel="me" target="_blank">
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M1.0132 7.15129C1 7.69022 1 8.30205 1 9V11C1 13.8284 1 15.2426 1.87868 16.1213C2.75736 17 4.17157 17 7 17H13C15.8284 17 17.2426 17 18.1213 16.1213C19 15.2426 19 13.8284 19 11V9C19 8.30205 19 7.69022 18.9868 7.15129L10.9713 11.6044C10.3672 11.9399 9.63276 11.9399 9.02871 11.6044L1.0132 7.15129ZM1.24297 5.02971C1.32584 5.05052 1.4074 5.08237 1.48564 5.12584L10 9.85604L18.5144 5.12584C18.5926 5.08237 18.6742 5.05052 18.757 5.02971C18.6271 4.55619 18.4276 4.18491 18.1213 3.87868C17.2426 3 15.8284 3 13 3H7C4.17157 3 2.75736 3 1.87868 3.87868C1.57245 4.18491 1.37294 4.55619 1.24297 5.02971Z" fill="currentColor"/>
        </svg>
      </a>
    </li>
  {% endif %}
</ul>
