{% capture content %}
<!DOCTYPE html>
<html lang="{{ shop.locale }}" class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="cleartype" content="on">
  <meta name="robots" content="index,follow">

  <title>{{ shop.name }} &ndash; {{ 'general.password_page.opening_soon' | t }}</title>

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}"/>
  {% endif %}

  <!-- Mobile Specific Metas -->
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.shop_bg_color }}">

  <!-- Preconnect Domains -->
  <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
  <link rel="preconnect" href="https://fonts.shopify.com" crossorigin>
  <link rel="preconnect" href="https://monorail-edge.shopifysvc.com">

  <!-- Preload Assets -->
  <link rel="preload" href="{{ 'theme.css' | asset_url }}" as="style">

  <!-- Stylesheets for Retina -->
  {{ 'theme.css' | asset_url | stylesheet_tag }}

  {% if settings.favicon != nil %}
    <link rel="shortcut icon" type="image/x-icon" href="{{ settings.favicon | img_url: '32x32' }}">
  {% else %}
    <link rel="shortcut icon" type="image/x-icon" href="{{ 'favicon.png' | asset_url }}">
  {% endif %}

  <link rel="canonical" href="{{ canonical_url }}"/>

  {% comment %}Inject theme-object begin{% endcomment %}
  <script>
    window.Theme = window.Theme || {};
    window.Theme.version = '5.0.1';
    window.Theme.name = 'Retina';
  </script>
  {% comment %}Inject theme-object end{% endcomment %}


  <script>
    {% render 'js-variables' %}
  </script>

  {{ content_for_header }}
</head>

<body class="password-page__background" id="password-page__bg">
  {{ content_for_layout }}
</body>

</html>
{% endcapture %}
{% assign content = content | replace_first: '<!DOCTYPE', '!DOCTYPE' | split: ' <' %}
{% for html in content %}{% assign htmlblock = html | strip | prepend: ' <' %}{{htmlblock | replace: ' </', '</'}}{% endfor %}