<div class="password-page__controls">
  <div class="password-page__open-modal" data-open-me>
    <a href="#">{{ 'general.password_page.login_form_heading' | t }}</a>
  </div>
</div>

<section
  class="password-page
  text-align-center"
>
  <div class="password-page__wrapper">
    {% if section.settings.custom_logo != nil %}
      <div class="password-page__logo">
        <img
          class="password-page__logo-img"
          src="{{ section.settings.custom_logo | img_url: '720x' }}"
          alt="{{ shop.name }}"
          style="--password-page-logo-width: {{ section.settings.logo_width }}px;"
        />
      </div>
    {% else %}
      <h1 class="password-page__shop-title">
        {{ shop.name }}
      </h1>
    {% endif %}
      <h2 class="password-page__opening-message">
        {{ 'general.password_page.opening_soon' | t }}
      </h2>
    {% unless shop.password_message == blank %}
      <p class="password-page__message">
        {{ shop.password_message }}
      </p>
    {% endunless %}
    {% if section.settings.newsletter_richtext != blank %}
      <div class="password-page__additional-text">
        {{ section.settings.newsletter_richtext }}
      </div>
    {% endif %}
    {% if section.settings.show_newsletter == true %}
      <h4 class="password-page__follow">
        {{ 'general.password_page.signup_form_heading' | t }}
      </h4>
      {%
        render 'newsletter',
        display_first_name: section.settings.display_first_name,
        display_last_name: section.settings.display_last_name
      %}
    {% endif %}
    {% if section.settings.social_media %}
      <div class="password-page__social">
        {% render 'social-icons' %}
      </div>
    {% endif %}
    <div class="password-page__footer">
        &copy; {{ "now" | date: "%Y" }} {{ shop.name }}.
        {{ 'layout.general.designer_credits_html' | t }}
        {{ 'general.password_page.powered_by_shopify_html' | t}}
    </div>
  </div>
</section>

<div class="password-page__overlay" data-overlay>
  <span class="password-page__close-me password-page__controls">
    <button
      class="password-page__close-icon"
      data-close-icon
      aria-label="{{ 'general.accessibility.close' | t }}">
      <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1 13L13 1M13 13L1 1" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </button>
  </span>
  <div class="password-page__modalbox">
    <div class="password-page__modalbox-inputbox">
      {% form 'storefront_password' %}
        {{ form.errors | default_errors }}
        {% if form.errors.count > 0 %}
          <script>
            window.addEventListener('DOMContentLoaded', event => {
              document.querySelector('[data-overlay]').classList.add('password-page__overlay-open');
            })
          </script>
        {% endif %}
        <label for='password' class="password-page__modalbox-password">
          {{ 'general.password_page.login_form_password_label' | t }}
        </label>
        <div class="password-page__form-wrapper">
          <input type='password' name='password' id='password' autofocus placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}"/>
          <div class="password-page__form-actions">
            <input class="password-page__button" name="commit" type="submit" value="{{ 'general.password_page.login_form_submit' | t }}" />
          </div>
        </div>
      {% endform %}
      <div class="password-page__owner" id="owner">{{ 'general.password_page.admin_link_html' | t }} <a href="/admin/online_store/preferences?tutorial=unlock">{{ 'general.password_page.change_password' | t }}</a></div>
    </div>
  </div>
</div>

<script>
  const openMe = document.querySelector('[data-open-me]');
  const closeMe = document.querySelector('[data-close-icon]');
  const passwordOverlay = document.querySelector('[data-overlay]');

  window.addEventListener('DOMContentLoaded', event => {
    openMe.addEventListener('click', event => {
      passwordOverlay.classList.add('password-page__overlay-open');
      document.querySelector('#password').focus();
    });
    closeMe.addEventListener('click', event => {
      passwordOverlay.classList.remove('password-page__overlay-open');
    });
    passwordOverlay.addEventListener('keydown', event => {
      if (event.keyCode == 27) {
        passwordOverlay.classList.remove('password-page__overlay-open');
      }
    });
  })
</script>

<style>
.password-page__background {
  {% if section.settings.use_background and section.settings.password-page-background == blank %}
    background: url({{ "password-page-background.jpg" | asset_url }}) center center;
  {% elsif section.settings.use_background and section.settings.password-page-background %}
    background: url({{ section.settings.password-page-background | img_url: '2000x' }}) center center;
  {% else %}
    background-color: {{ settings.password_page_background_color }};
  {% endif %}
  {% if section.settings.pagework_page_bg_stretched %}
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  {% endif %}
}
</style>

{% schema %}
{
  "name": "Password page",
  "class": "password-page",
  "settings": [
    {
      "type": "image_picker",
      "id": "custom_logo",
      "label": "Logo"
    },
    {
      "type": "range",
      "id": "logo_width",
      "label": "Logo display width",
      "step": 5,
      "min": 100,
      "max": 280,
      "default": 280,
      "unit": "px"
    },
    {
      "type": "checkbox",
      "id": "use_background",
      "label": "Use background image",
      "default": true
    },
    {
      "type": "image_picker",
      "id": "password-page-background",
      "label": "Background image"
    },
    {
      "type": "checkbox",
      "id": "pagework_page_bg_stretched",
      "label": "Stretch background to fill the password page",
      "default": true
    },
    {
      "type": "header",
      "content": "Newsletter"
    },
    {
      "type": "checkbox",
      "id": "show_newsletter",
      "label": "Show newsletter",
      "default": true
    },
    {
      "type": "richtext",
      "id": "newsletter_richtext",
      "label": "Text"
    },
    {
      "type": "header",
      "content": "Social media"
    },
    {
      "type": "checkbox",
      "id": "social_media",
      "label": "Display social icons",
      "default": true
    }
  ]
}

{% endschema %}