<script
  type="application/json"
  data-section-type="reset-password-page"
  data-section-id="{{ section.id }}"
>
</script>

<section
  class="reset-password"
  data-section-id="{{ section.id }}"
>

  <div class="reset-password__header">
    <h1 class="reset-password__heading">
      {{ 'customer.reset_password.title' | t }}
    </h1>
  </div>

  <div class="reset-password__wrapper">
    {% form 'reset_customer_password' %}
      <p class="reset-password__subtext">
        {{ 'customer.reset_password.subtext' | t: email: email }}
      </p>

      {{ form.errors | default_errors }}

      <div id="password">
        <label class="large" for="password">{{ 'customer.reset_password.password' | t }}</label>
        <input type="password" value="" name="customer[password]" id="customer_password" size="16" />
      </div>

      <div id="password_confirm">
        <label for="password_confirmation">{{ 'customer.reset_password.password_confirm' | t }}</label>
        <input type="password" value="" name="customer[password_confirmation]" id="customer_password_confirmation" size="16" />
      </div>

      <input class="reset-password__button" type="submit" value="{{ 'customer.reset_password.submit' | t }}" />
    {% endform %}
  </div>
</section>
